@import model.ApprovedApplication
@import org.joda.time.format.DateTimeFormat
@(application: ApprovedApplication)(implicit request: Request[_], userFullName: Option[String], flash: Flash)

@main(title = "API Gatekeeper Dashboard",userFullName = userFullName ) {

    @defining(DateTimeFormat.forPattern("dd MMMM yyyy")) { dateFormatter =>
        <div class="content__body">

            <nav class="breadcrumb-nav">
                <ul>
                    <li class="breadcrumb-nav__item"><a href="dashboard">Application names</a></li>
                    <li class="breadcrumb-nav__item breadcrumb-nav__item--trail" aria-hidden="true"></li>
                    <li class="breadcrumb-nav__item">@application.details.name</li>
                </ul>
            </nav>

            <header>
                @if(flash.get("success").isDefined) {
                    <div class="alert alert--success" role="alert">
                        <p success-message class="alert__message">@flash.get("success").getOrElse("")</p>
                    </div>
                }
                <h1 class="flush--top">@application.details.name</h1>
            </header>

            <details>
                @if(application.verified) {
                    <summary>
                        <span data-status class="status--verified">Verified</span>
                    </summary>
                    <div>
                        <p data-summary class="panel-indent">
                            The submitter has verified that they still have access to the email address associated with this application.
                        </p>
                    </div>

                } else {
                    <summary>
                        <span data-status class="status--not-verified">Not Verified</span>
                        <span>(<a resend-email href="@routes.ApplicationController.resendVerification(application.details.id)">Resend verify email</a>)</span>
                    </summary>
                    <div>
                        <p data-summary class="panel-indent">
                            The submitter has not verified that they still have access to the email address associated with this application.
                        </p>
                    </div>
                }
            </details>

            <h2 class="heading--font-reset">Description:</h2>
            @if(application.details.description.nonEmpty) {
                <p data-description class="flush--top">@application.details.description</p>
            } else {
                <p data-description class="fadded-text">No description added</p>
            }

            <h2 class="heading--font-reset">Submitter:</h2>
            <p data-submitter-name class="flush--top">@application.details.submission.submitterName</p>
            <p data-submitter-email class="flush--top">@application.details.submission.submitterEmail</p>

            <h2 class="heading--font-reset">Admins:</h2>
            <table>
                <caption class="visuallyhidden">Table showing administrators</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                @for(admin <- application.admins) {
                    <tr data-admin-@admin.email>
                        <td>@admin.fullName</td>
                        <td>@admin.email</td>
                    </tr>
                }
                </tbody>
            </table>
            <p data-submitted-on class="faded-text">Submitted: @{dateFormatter.print(application.details.submission.submittedOn)}</p>
            <p data-approved-on class="faded-text">Approved: @{dateFormatter.print(application.approvedOn)}</p>
            <p data-approved-by class="faded-text">Approved by: @application.approvedBy</p>
            <a data-back-link href="dashboard">Go back to the applications list</a>
        </div>
    }
}