@()(implicit request: Request[_], userFullName: Option[String])


@main(title = "API Gatekeeper Dashboard",userFullName = userFullName ) {
<div class="content__body">

    <nav class="breadcrumb-nav">
        <ul>
            <li class="breadcrumb-nav__item"><a href="dashboard">Application names</a></li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail" aria-hidden="true"></li>
            <li class="breadcrumb-nav__item">application name</li>
        </ul>
    </nav>

    <header>
        <h1 class="flush--top">Application name here</h1>
    </header>

    <details>
        <summary class="status--verified">Verified</summary>
        <div>
            <p class="panel-indent">The submitter has verified that they are still associated with the email address associated with this application.</p>
        </div>
    </details>

    <h2 class="heading--font-reset">Description:</h2>
    <p class="flush--top">Supporting Barclays’ customers in becoming more tax efficient.</p>

    <h2 class="heading--font-reset">Submitter:</h2>
    <p>John Smith</p>
    <p class="flush--top">francis.jackson@@barclays-digital.com</p>

    <h2 class="heading--font-reset">Admins:</h2>
    <table>
        <caption class="visuallyhidden">Table showing administrators</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark Reese</td>
            <td>mark.reese@@gmail.com</td>
        </tr>
        </tbody>
    </table>
    <p class="faded-text">Submitted: 13 February 2016</p>
    <p class="faded-text">Approved: 15 February 2016</p>
    <p class="faded-text">Approved by: John Smith</p>
    <a href="dashboard">Go back to the applications list</a>

</div>
}