@import model.State._
@import org.joda.time.format.DateTimeFormat
@import model.CategorisedApplications
@import include._

@(applications: CategorisedApplications)(implicit request: Request[_], userFullName: Option[String])

@main(title = "API Gatekeeper Dashboard", userFullName = userFullName) {

    @defining(DateTimeFormat.forPattern("dd.MM.yyyy")) { dateFormatter =>
        <article class="content__body full-width">

            <header>
                <h1>Dashboard</h1>
            </header>

            @tabList(activeTab = 0)

            <div class="two-col-list full-width">
                <section class="section--branded two-col-list__col two-col-list__col--left">

                    <h2>Pending</h2>
                    @if(applications.pendingApproval.nonEmpty) {
                        <ul>
                        @for(application <- applications.pendingApproval) {
                            <li data-pending-@{application.id} class="app-info">
                                <div class="app-info__primary">
                                    <h3 class="app-info__heading">@{application.name}</h3>
                                    <p class="app-info__info">submitted: @{dateFormatter.print(application.submittedOn)}</p>
                                </div>
                                <div class="app-info__secondary">
                                    <a data-review-@application.id.toString href="@{routes.DashboardController.reviewPage(application.id.toString)}">Review</a>
                                </div>
                            </li>
                        }
                        </ul>
                    } else {
                        <p data-pending-none>There are no pending applications.</p>
                    }
                </section>

                <section class="section--branded two-col-list__col two-col-list__col--right">
                    <h2>Approved</h2>
                    @if(applications.approved.nonEmpty) {
                        <ul>
                        @for(application <- applications.approved) {
                            <li data-approved-@application.id.toString class="app-info">
                                <div class="app-info__primary">
                                    <h3 class="app-info__heading">
                                        <a data-view-@application.id.toString href="@{routes.DashboardController.approvedApplicationPage(application.id.toString)}">@{application.name}</a>
                                    </h3>
                                    <p class="app-info__info">submitted: @{dateFormatter.print(application.submittedOn)}</p>
                                </div>
                                <div class="app-info__secondary">
                                    @if(application.state == PRODUCTION) {
                                        <span class="status status--verified">verified</span>
                                    } else {
                                        <span class="status status--not-verified">not yet verified</span>
                                    }
                                </div>
                            </li>
                        }
                        </ul>
                    } else {
                        <p data-approved-none>There are no approved applications.</p>
                    }
                </section>
            </div>
        </article>
    }
}