@import controllers._
@import model._
@import include._

@(users: PageableCollection[User],
  emails: String,
  apis: Map[APIStatus.APIStatus, Seq[VersionSummary]],
  filter: Option[String],
  status: Option[String])(implicit request: Request[_], userFullName: Option[String])

@main(title = "API Gatekeeper Dashboard",userFullName = userFullName) {

<article class="content__body full-width">

    <style>
        .developer-list tr {
          word-break: break-all;
        }

        .input-select {
           margin: 0;
        }

        .input-select--large {
          width: 85%;
        }

        .developer-status {
          min-width: 150px;
        }
    </style>

    <header>
        <h1>Dashboard</h1>
    </header>

    @tabList(activeTab = 1)

    <form action="@routes.DevelopersController.developersPage(filter, status, users.pageNumber, users.pageSize).url" method="get">
        <div class="grid-layout" style="margin-left:0">
            <div class="grid-layout__column--1-3">
                <div class="form-group">
                    @defining(ApiFilter(filter)) { apiFilter =>
                        <label class="form-label bold" for="filter">Filter by API Subscription
                            <select class="form-control input-select input-select--large" id="filter" name="filter"
                                    value="@filter" onchange="this.form.submit()">

                                <option @if(apiFilter == AllUsers) {selected} value="ALL">All users</option>
                                <option @if(apiFilter == OneOrMoreSubscriptions) {selected} value="ANYSUB">One or more subscriptions</option>
                                <option @if(apiFilter == NoSubscriptions) {selected} value="NOSUB">No subscriptions</option>
                                <option @if(apiFilter == NoApplications) {selected} value="NOAPP">No applications</option>

                                @for((status, versions) <- apis) {
                                    <optgroup label="@status">
                                        @for(version <- versions.sortBy(v => v.name.toLowerCase)) {
                                            <option @if(apiFilter == Value(version.apiIdentifier.context)) {selected}
                                                    value="@version.apiIdentifier.context">@version.name (@version.apiIdentifier.version)</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </label>
                    }
                </div>
            </div>

            <div class="grid-layout__column--1-3">
                <div class="form-group">
                    <label class="form-label bold" for="status">Filter by Status
                        <select class="form-control input-select input-select--large" id="status" name="status"
                                value="@status" onchange="this.form.submit()">
                            @for((value,label) <- Map("ALL" -> "All", "VERIFIED" -> "Verified", "UNVERIFIED" -> "Unverified", "UNREGISTERED" -> "Unregistered")) {
                                <option value="@value" @if(Some(value) == status){selected}>@label</option>
                            }
                        </select>
                    </label>
                </div>
            </div>

            <div class="grid-layout__column--1-3">
                <div class="form-group">
                    <label class="form-label bold" for="pageSize">Show Rows
                        <select class="form-control input--small input-select" id="pageSize" name="pageSize"
                                value="@users.pageSize" onchange="this.form.submit()">
                            @for(n <- List(10,20,100)) {
                                <option value="@n" @if(users.pageSize == n){selected}>@n</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <table class="developer-list">
            <caption class="visuallyhidden">Table showing all developers</caption>
            <thead>
                <tr role="row">
                    <th tabindex="0">Name</th>
                    <th tabindex="0">Email</th>
                    <th tabindex="0" class="text--right hard--right" data-orderable="false" data-search="false">Status</th>
                </tr>
            </thead>
            <tbody>
            @for(developer <- users.projection) {
                <tr role="row">
                    <td class="developer-name">@developer.fullName</td>
                    <td class="developer-email">@developer.email</td>
                    <td class="developer-status text--right hard--right">
                        @defining(developer.status match {
                            case VerifiedStatus => ("status status--verified", "verified")
                            case UnverifiedStatus => ("status status--not-verified", "not yet verified")
                            case UnregisteredStatus => ("status status--not-verified", "not registered")
                        }) { case(cssStyle, text) => <span class="@cssStyle">@text</td> }
                </tr>
            }
            </tbody>
        </table>

        <div class="grid-layout" style="margin-left:0">
            <div class="grid-layout__column--1-3 text--left">
                @paginateButton("Previous", "page-nav__link page-nav__link--previous", users, filter, status, -1)
            </div>

            <div class="grid-layout__column--1-3 text--center">
                @entry(users)
            </div>

            <div class="grid-layout__column--1-3 text--right">
                @paginateButton("Next", "page-nav__link page-nav__link--next", users, filter, status, 1)
            </div>
        </div>

        <input type="hidden" name="pageNumber" value="@users.pageNumber"/>

    </form>

    @if(users.length > 0) {
    <div class="form-group>">
        <p>
            <a class="button" href="mailto:?bcc=@emails" title="Opens external mail client BCC'ing all @{users.length} email addresses.">Email @{users.length} developers</a>
            <a class="button" href="#" title="Copies all @{users.length} email addresses into the system clipboard." onclick="copyTextToClipboard('@emails'); return false;">Copy to clipboard</a>
        </p>
    </div>
    }
    <div class="form-group>">
        <a class="back-to-top-link" href="#">Back to Top</a>
    </div>

    <script type="text/javascript">
        function copyTextToClipboard(text) {
          var textArea = document.createElement("textarea");
          textArea.style.position = 'fixed';
          textArea.style.top = 0;
          textArea.style.left = 0;
          textArea.style.width = '2em';
          textArea.style.height = '2em';
          textArea.style.padding = 0;
          textArea.style.border = 'none';
          textArea.style.outline = 'none';
          textArea.style.boxShadow = 'none';
          textArea.style.background = 'transparent';
          textArea.value = text;

          document.body.appendChild(textArea);

          textArea.select();

          try {
            var successful = document.execCommand('copy');
          } catch (err) {
            console.log(err);
          }

          document.body.removeChild(textArea);
        }
    </script>
</article>
}

@paginateButton(text: String, cssClass: String, content: model.PageableCollection[_], filter: Option[String], status: Option[String], direction: Int) = {
    @if(direction < 0 && content.hasPrevious || direction > 0 && content.hasNext) {
        <a class="@cssClass"
           rel="@if(direction < 0) {prev} else {next}"
           href="@routes.DevelopersController.developersPage(filter, status, content.pageNumber + direction, content.pageSize)">
            <span class="page-nav__label">@text</span></a>
    }
}