@import include._
@(users: model.PageableCollection[model.User], emails: String, apis: Seq[model.APIDefinition], filter: Option[String])(implicit request: Request[_], userFullName: Option[String])

@main(title = "API Gatekeeper Developer List",userFullName = userFullName) {

<div class="content">
    <nav class="breadcrumb-nav">
        <ul>
            <li class="breadcrumb-nav__item"><a href="dashboard">Dashboard</a></li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail" aria-hidden="true"></li>
            <li class="breadcrumb-nav__item">All Developers</li>
        </ul>
    </nav>

    <header>
        <h1 class="flush--top">Developers</h1>
    </header>

    <form action="developers" method="post">
        <div class="grid-layout">
            <div class="grid-layout__column grid-layout__column--2-3 filters">
                <div class="form-field">
                    <label class="label--inline" for="filter">Filter by API Subscription</label>
                    <select class="select" id="filter" name="filter" value="@filter" onchange="this.form.submit()">
                        <option value="">ALL</option>
                        @for(api <- apis.sortBy(a => a.name.toLowerCase)) {
                            @defining(filter match {
                                case Some(f) if f == api.context => "selected"
                                case _ => ""
                            }) { selected => <option @selected value="@api.context">@api.name</option> }
                        }
                    </select>
                </div>
            </div>

            <div class="grid-layout__column grid-layout__column--1-3 actions">
                @if(users.length > 0) {
                    <div class="text--right">
                        <a class="button" href="mailto:?bcc=@emails">Email @{users.length} developers</a>
                    </div>
                }
            </div>
        </div>

        <table>
            <caption class="visuallyhidden">Table showing all developers</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="text--right hard--right">Status</th>
            </tr>
            </thead>
            <tbody>
            @for(developer <- users.projection) {
                <tr data-admin-@developer.email>
                    <td>@developer.fullName</td>
                    <td>@developer.email</td>
                    <td class="text--right hard--right">
                        @defining(developer.verified match {
                            case true => ("flag flag--soon", "Verified")
                            case false => ("flag flag--urgent", "Unverified")
                        }) { case(cssStyle, text) => <span class="@cssStyle">@text</td> }
                </tr>
            }
            </tbody>
        </table>

        <div class="grid-layout">
            <div class="grid-layout__column grid-layout__column--1-3 filters">
                <label class="label-inline" for="pageSize">Show Rows:</label>
                <select class="select" id="pageSize" name="pageSize" value="@users.pageSize" onchange="this.form.submit()">
                    <option value="10" @if(users.pageSize==10){selected}>10</option>
                    <option value="20" @if(users.pageSize==20){selected}>20</option>
                    <option value="100" @if(users.pageSize==100){selected}>100</option>
                </select>
            </div>

            <div class="grid-layout__column grid-layout__column--1-3 entries_status">
                <div class="text--center">
                    @entry(users)
                </div>
            </div>

            <div class="grid-layout__column grid-layout__column--1-3">
                <div class="text--right hard-right">
                    @paginateButton("Previous", "previous", users, filter, -1)
                    @paginateButton("Next", "next", users, filter, 1)
                </div>
            </div>
        </div>

        <input type="hidden" name="pageNumber" value="@users.pageNumber"/>

        @helper.CSRF.formField

    </form>
</div>
}

@paginateButton(text: String, cssClass: String, content: model.PageableCollection[_], filter: Option[String], direction: Int) = {
    @if(direction < 0 && content.hasPrevious || direction > 0 && content.hasNext) {
        <a class="paginate_button @cssClass"
           href="@routes.DevelopersController.developersPage(filter, content.pageNumber + direction, content.pageSize)">@text</a>
    } else {
        @text
    }
}