
.cache-main
.cache-tests
bin/
logs
project/project
project/target
target
lib_managed
tmp
.history
.cache-main
.cache-tests
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
.DS_Store
.ensime
.ensime_cache
