@(loginForm: Form[model.LoginDetails])(implicit request: Request[_])

@main(title = "API Gatekeeper login", userFullName = None ) {

    <header>
        <h1>Sign in</h1>
    </header>

    @helper.form(action = controllers.routes.AccountController.authenticateAction) {
        <fieldset>
            @helper.CSRF.formField

            <div class="form-field-group @if(loginForm.hasErrors) {error}">
                @loginForm.globalErrors.map{ error =>
                    <span class="error-notification password">@Messages(error.message)</span>
                }
                <div class="form-field">
                    <label class="label--inline" for="userName">Username</label>
                    <input type="text" id="userName" name="userName" required />
                </div>
                <div class="form-field">
                    <label class="label--inline" for="password">Password</label>
                    <input type="password" id="password" name="password" required />
                </div>
            </div>
        </fieldset>

        <button type="submit" name="action" value="submit">Sign in</button>

    }

}