@(errors: Seq[FormError], fieldName: String, onlyLast: Boolean = true)(implicit messages: Messages)
@if(errors.exists(_.key == fieldName)) {
    <p class="error-notification hard--bottom" data-field-error-@fieldName>
    @defining(errors.filter(_.key == fieldName)) { errors =>
        @if(onlyLast && errors.nonEmpty) {
            @if(errors.last.args.nonEmpty) {
                <a data-link-error-@fieldName href="@errors.last.args.head">
                @Messages(errors.last.message)
                </a>
            } else {
                @Messages(errors.last.message)
            }
        } else {
            @errors.map { err =>
                @if(err.args.nonEmpty) {
                    <a data-link-error-@fieldName href="@err.args.head">
                    @Messages(err.message)
                    </a>
                } else {
                    @Messages(err.message)
                }
            }
        }
    }

    </p>
}