@(title: String,
  mainContentHeader: Html = HtmlFormat.empty,
  userFullName: Option[String] = None,
  appConfig: config.AppConfig = config.FrontendAppConfig)(mainContent: Html)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.layouts

@serviceInfo = {
  @layouts.serviceInfo(
    betaBanner = HtmlFormat.empty,
    includeGridWrapper = false,
    serviceInfoContent = None)
}

@content = {
  @layouts.main_content(
    article = mainContent,
    mainContentHeader = mainContentHeader,
    serviceInfo = serviceInfo,
    getHelpForm = HtmlFormat.empty
  )
}

@bodyEnd = {
  @layouts.footer(
    analyticsToken = Some(appConfig.analyticsToken),
    analyticsHost = appConfig.analyticsHost,
    ssoUrl = None,
    scriptElem = None,
    gaCalls = None)
}

@insideHeader = {
  @layouts.header_nav(
    navTitle = Some("API Gatekeeper"),
    navTitleLink = None,
    showBetaLink = false,
    navLinks = Some(include.headerNavLinks(NavigationHelper.navLinks(userFullName)))
  )
  }


@views.html.layouts.govuk_template(
  title = Some(title),
  bodyClasses = None)(
  head = layouts.head(linkElem = None, headScripts = None),
  bodyEnd = bodyEnd,
  insideHeader = insideHeader,
  afterHeader = HtmlFormat.empty,
  footerTop = HtmlFormat.empty,
  footerLinks = Some(layouts.footer_links()),
  nav = true)(content)

